In [15]:
#import required libraries
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
import pandas as pd
import plotly.express as px
df = pd.read_csv (r'new_dataframe.csv')
df

,Unnamed: 0,Cooking,Fitness,Games,books,travel
0,0,2.360183e-72,3.036446e-50,1.627787e-56,1.000000e+00,1.102602e-47
1,1,5.522101e-41,2.277952e-32,2.763724e-34,1.000000e+00,8.367664e-25
2,2,6.076238e-06,1.399433e-05,9.857667e-01,1.413832e-02,7.490112e-05
3,3,7.017857e-11,7.967106e-09,7.117367e-07,9.999993e-01,6.734793e-09
4,4,4.783889e-06,3.962856e-05,2.979753e-03,9.967314e-01,2.443883e-04
...,...,...,...,...,...,...
7916,7916,3.880530e-02,7.768563e-01,1.038925e-01,3.161091e-02,4.883501e-02
7917,7917,4.398177e-09,3.023044e-08,4.038298e-07,1.403733e-05,9.999855e-01
7918,7918,1.079332e-08,6.798474e-07,5.452560e-06,1.069854e-08,9.999938e-01
7919,7919,9.928254e-05,1.201926e-07,7.202612e-05,1.458944e-01,8.539342e-01
7920,7920,9.773948e-03,3.449255e-02,2.915934e-01,4.397615e-02,6.201640e-01

In [17]:
clustering_kmeans = KMeans(n_clusters=5, precompute_distances="auto", n_jobs=-1)
clustering_kmeans.fit(df)

/home/aiwarriors/.local/lib/python3.6/site-packages/sklearn/cluster/_kmeans.py:788: FutureWarning:

'precompute_distances' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25). It has no effect

/home/aiwarriors/.local/lib/python3.6/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning:

'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).

KMeans(n_clusters=5, n_jobs=-1, precompute_distances='auto')

In [16]:
df = df.drop(columns=['Unnamed: 0'])
df

           Cooking       Fitness         Games         books        travel
0     2.360183e-72  3.036446e-50  1.627787e-56  1.000000e+00  1.102602e-47
1     5.522101e-41  2.277952e-32  2.763724e-34  1.000000e+00  8.367664e-25
2     6.076238e-06  1.399433e-05  9.857667e-01  1.413832e-02  7.490112e-05
3     7.017857e-11  7.967106e-09  7.117367e-07  9.999993e-01  6.734793e-09
4     4.783889e-06  3.962856e-05  2.979753e-03  9.967314e-01  2.443883e-04
...            ...           ...           ...           ...           ...
7916  3.880530e-02  7.768563e-01  1.038925e-01  3.161091e-02  4.883501e-02
7917  4.398177e-09  3.023044e-08  4.038298e-07  1.403733e-05  9.999855e-01
7918  1.079332e-08  6.798474e-07  5.452560e-06  1.069854e-08  9.999938e-01
7919  9.928254e-05  1.201926e-07  7.202612e-05  1.458944e-01  8.539342e-01
7920  9.773948e-03  3.449255e-02  2.915934e-01  4.397615e-02  6.201640e-01

[7921 rows x 5 columns]

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cooking,7921.0,0.181087,0.360322,0.0,2.302083e-12,0.000023,0.081899,1.0
Fitness,7921.0,0.358130,0.437574,0.0,6.593100e-09,0.015518,0.964232,1.0
Games,7921.0,0.245018,0.389723,0.0,2.427119e-09,0.002602,0.320268,1.0
books,7921.0,0.136387,0.304555,0.0,3.744845e-11,0.000076,0.049021,1.0
travel,7921.0,0.079379,0.243502,0.0,2.375200e-13,0.000002,0.006780,1.0

In [8]:
fig = px.scatter_matrix(df.drop("clusters",axis=1),
width=1200, height=1600)
fig.show()

KeyError: "['clusters'] not found in axis"

In [ ]:
fig2 = px.scatter_3d(df, x="books", y="Games",z="travel",
                     color="Cooking",size="Fitness")
fig2.update_layout(title="5 Features Representation")
fig2.show()

In [ ]:

from sklearn.preprocessing import MinMaxScaler
import plotly.graph_objects as go
X=df.drop("clusters",axis=1)
scaler = MinMaxScaler()
scaler.fit(X)
X=scaler.transform(X)
inertia = []
for i in range(1,11):
    kmeans = KMeans(
        n_clusters=i, init="k-means++",
        n_init=10,
        tol=1e-04, random_state=42
    )
    kmeans.fit(X)
    inertia.append(kmeans.inertia_)
fig = go.Figure(data=go.Scatter(x=np.arange(1,11),y=inertia))
fig.update_layout(title="Inertia vs Cluster Number",xaxis=dict(range=[0,11],title="Cluster Number"),
                  yaxis={'title':'Inertia'},
                 annotations=[
        dict(
            x=3,
            y=inertia[2],
            xref="x",
            yref="y",
            text="Elbow!",
            showarrow=True,
            arrowhead=7,
            ax=20,
            ay=-40
        )
    ])

In [ ]:
print(df)

In [ ]:
c0 = df[df['clusters'] == 0]
c1 = df[df['clusters'] == 1]
c2 = df[df['clusters'] == 2]
c3 = df[df['clusters'] == 3]
c4 = df[df['clusters'] == 4]

In [ ]:
c2

In [9]:

kmeans = KMeans(
        n_clusters=3, init="k-means++",
        n_init=10,
        tol=1e-04, random_state=42
    )
kmeans.fit(X)
clusters=pd.DataFrame(X,columns=df.drop("clusters",axis=1).columns)
clusters['label']=kmeans.labels_
polar=clusters.groupby("label").mean().reset_index()
polar=pd.melt(polar,id_vars=["label"])
fig4 = px.line_polar(polar, r="value", theta="variable", color="label", line_close=True,height=800,width=1400)
fig.show()

NameError: name 'X' is not defined

In [18]:
import pickle

model_file = open(b'kmeans_clusterer.obj', 'wb')
pickle.dump(clustering_kmeans, model_file)
model_file.close()