# Welcome to my project!!!

## Setup

Welcome to my test project! As you can see, We did it! After some long hours, I got this godforsaken VM to run! I need help...

Testing out module imports...

In [5]:
import pandas
import matplotlib as plt
import seaborn as sns
import sklearn
import nltk
from nltk.corpus import stopwords

Ok! So that works! Now let's create some dataframes.

In [10]:
df = pandas.read_csv('books.csv')
df2 = pandas.read_csv('Cooking.csv')
df3 = pandas.read_csv('GYM.csv')

...and display them...

In [12]:
df3.head()

        id subreddit                                               body
0   eyu2ec       GYM                                                NaN
1  fgvlsrc       GYM                          thank help get start week
2  fjx7ami       GYM  look like good start good effort plan differen...
3  fjyy9a5       GYM  r fit fantast wiki https thefit wiki constant ...
4   lngehn       GYM                                                NaN

...and concatenate them...

In [14]:
dfc = pandas.concat([df, df2, df3])

...and then display them again!

In [16]:
dfc

         id subreddit                                               body
0    lnd8er     books  welcom week recommend thread year ago mod team...
1   go085ef     books  look hard scifi along line children time ruin ...
2   go161y9     books  im look book french e g author franc quebec af...
3   go1n30e     books  what best way start read terri pratchett initi...
4   go07411     books  recommend best queer book youv read pleas rece...
..      ...       ...                                                ...
50   lnqbxs       GYM                                                NaN
51   lnq0jz       GYM  new gym scare back injuri tip hellllo f go gym...
52  go1r7gt       GYM  start light weight first get comfort form comf...
53   lnph9c       GYM  im start lift year ago quit late know im cm re...
54  go1oq2m       GYM  bf doesnt seem high go cut suggest would go bu...

[2541 rows x 3 columns]

In [17]:
print(dfc)

         id subreddit                                               body
0    lnd8er     books  welcom week recommend thread year ago mod team...
1   go085ef     books  look hard scifi along line children time ruin ...
2   go161y9     books  im look book french e g author franc quebec af...
3   go1n30e     books  what best way start read terri pratchett initi...
4   go07411     books  recommend best queer book youv read pleas rece...
..      ...       ...                                                ...
50   lnqbxs       GYM                                                NaN
51   lnq0jz       GYM  new gym scare back injuri tip hellllo f go gym...
52  go1r7gt       GYM  start light weight first get comfort form comf...
53   lnph9c       GYM  im start lift year ago quit late know im cm re...
54  go1oq2m       GYM  bf doesnt seem high go cut suggest would go bu...

[2541 rows x 3 columns]